# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  schedule:
    - cron: "*/57 * * * *"
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Python Environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Requirements
        run: pip install -r requirements.txt

      - name: Execute Python script
        run: |
          python scripts/update.py

      - name: setup git config
        run: |
          git config user.name "nguyentuansi"
          git config user.email "singuyen.it@gmail.com"

      - name: commit changes
        run: |
          chmod +x ./scripts/commit.sh
          ./scripts/commit.sh
  slackNotification:
    name: CI Notificartion
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: CI Notificartion
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_COLOR: '#20639B'
        SLACK_ICON: 'https://avatars3.githubusercontent.com/in/15368?s=64&v=4'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
